$black_color: #393e3f;
$grey_color: #f0f0f0;
$grey_color_opacity_less: #f0f0f05b;
$cyan_color: #b6d4e8;
$cyan_color_opacity_less: #b6d4e859;

@mixin ContainerColored($background) {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  background-color: $background;

  & > p {
    width: 100% !important;

    @media(min-width: 1124px){
      width: 80% !important;
      margin-top: 2.5% !important;
    }
  }

  &_title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media(min-width: 1124px){
      width: 60%;
    }

    & > svg {
      width: 100px;
      object-fit: contain;
    }

    & > img {
      width: 100px;
      object-fit: contain;
    }

    & > h2 {
      font-size: 26px;
      font-weight: bold;
      text-transform: uppercase;
      color: $black_color;
      text-align: left;
      width: 70%;
      line-height: 28px;
      margin-left: 15px; 
    }
  }
}
